body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: url("../images/body_bg.svg") no-repeat;
    background-size: cover;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E9A127;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    margin: 100px 0;
    font-size: 47px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

p {
    font-size: 24px;
}

p.small {
    font-size: 18px;
}

button.btn {
    padding: 0 27px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 30px;
}

button.btn.btn-primary {
    background-color: white;
    color: black;
}

button.btn.btn-secondary {
    background-color: #E9A127;
    color: white;
}

button.btn:focus,
button.btn:hover {
    outline: none !important;
    box-shadow: none !important;
}

button.btn.btn-primary:focus,
button.btn.btn-primary:hover {
    background-color: #E9A127;
    border: 1px solid #E9A127;
}

button.btn.btn-secondary:focus,
button.btn.btn-secondary:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

#main-image {
    width: 100%;;
    height: 58vw;
    max-height: 846px;
    min-height: 351px;
    padding-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}

#hamburger {
    width: 19px;
    height: 16px;
    top: 40px;
    right: 2.5%;
    cursor: pointer;
    position: absolute;
    background: url(../images/hamburger.svg) no-repeat;
    background-size: 100% 100%;
    display: none;
    z-index: 999;
}

#hamburger.rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#float-menu {
    width: 100%;
    top: -700px;
    left: 0;
    display: none;
    padding: 89px 0 30px 0;
    position: absolute;
    background-color: #121524;
    z-index: 998;
}

#float-menu .main-menu {
    padding-left: 0;
}

#float-menu .main-menu li {
    text-align: center;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 17px;
}

#float-menu h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#float-menu .second-menu {
    margin-bottom: 30px;
}

#float-menu .pair-buttons {
    margin: auto;
}

#float-menu button.btn.btn-secondary {
    width: auto !important;
    margin: 0 auto 6px auto !important;
}

#main-image.home {
    background: url('../images/home_main_image.jpg');
}

#menu-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

#logo {
    width: 182px;
    margin-top: 10px;
}

#top-container {
    width: calc(100% - 220px);
}

#top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

#top-line .main-menu {
    width: calc(100% - 250px);
    text-align: left;
    color: white;
    font-size: .95em;
    margin: 0;
    padding: 0;
}

#top-line .main-menu li {
    display: inline-block;
    list-style-type: none;
    letter-spacing: .05em;
    margin-right: 1em;
    text-transform: uppercase;
}

.main-menu a {
    color: white;
}

.pair-buttons {
    width: 235px;
    display: flex;
    justify-content: space-between;
}

.phone-icon {
    width: 49px;
    margin-right: 5px;
}

#top-container h2 {
    font-size: 35px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

#top-container .second-menu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#float-menu button.btn.btn-secondary,
#top-container .second-menu button.btn.btn-secondary {
    background: none;
    border: 1px solid grey;
    margin-right: 10px;
}


#top-container .second-menu button.btn.btn-secondary:focus,
#top-container .second-menu button.btn.btn-secondary:hover {
    color: #E9A127;
    border: 1px solid #E9A127;
}

#head-container {
    width: 100%;
    height: calc(100% - 320px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-container h1 {
    width: 1000px;
    color: white;
    margin: 0;
    text-align: center;
}

#main-image .arrow-down {
    width: 80px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 990;
}

#arch {
    bottom: -1px;
    position: absolute;
    z-index: 989;
}

#content {
    width: 100%;
    padding: 0 30px;
}

#head-text {
    width: 77vw;
    max-width: 1120px;
    min-width: 285px;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#head-text .quotes {
    width: 109px;
    position: absolute;
    z-index: 987;
}

#head-text .quotes:first-child {
    top: 0;
    left: 0;
}

#head-text .quotes:last-child {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

#head-text p {
    width: 80%;
    position: relative;
    text-align: center;
    z-index: 988;
}

@media (max-width: 1439px) {
    #top-line .main-menu {
        font-size: .8em;
    }

    #top-line .main-menu li {
        margin-right: .5em;
    }
}

@media (max-width: 1240px) {
    #menu-container {
        flex-direction: column;
    }

    #logo {
        margin-bottom: 20px;
    }

    #top-container {
        width: 100%;
    }

    #head-container h1 {
        width: 700px;
        font-size: 35px;
    }
}

@media (max-width: 993px) {
    #hamburger, #float-menu {
        display: block;
    }

    #menu-container {
        justify-content: space-between;
        flex-direction: row;
    }

    #logo {
        width: 129px;
    }

    #top-container {
        display: none;
    }

    #head-container {
        height: calc(100% - 100px);
    }

    #main-image .arrow-down {
        width: 54px;
        bottom: -45px;
    }
}

@media (max-width: 700px) {
    #head-container h1 {
        width: 90%;
        font-size: 20px;
    }

    h1, h2 {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p, p.small {
        font-size: 14px;
    }

    #head-text .quotes {
        width: 56px;
    }
}
